body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-family: "Spectral", serif;
  position: relative;
  height: 100vh;
  width: 100%;
}

/*NAV*/
.nav {
  display: flex;
  padding: 20px 70px 20px 70px;
  background-color: #ffc017;
  border-bottom: 1px solid black;
  justify-content: space-between;
  font-family: "Spectral", serif;
  position: sticky;
  top: 0;
  z-index: 1;
  transition: 0.3s ease-in-out;
}
.nav-scroll {
  background-color: white;
}

nav img {
  width: 160px;
}
nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}

nav ul li {
  margin-right: 13px;
  font-size: 15px;
  cursor: pointer;
}

.quinto {
  color: white;
  background-color: black;
  padding: 13px 15px;
  border-radius: 37px;
  font-weight: bold;
  transition: 0.3s ease-in-out;
}

.quinto-scroll {
  background-color: green;
}

@media screen and (max-width: 550px) {
  nav {
    font-size: 12px;
    z-index: 0;
  }
  nav ul li:nth-child(1),
  nav ul li:nth-child(2),
  nav ul li:nth-child(3),
  nav ul li:nth-child(4) {
    display: none;
  }
  nav {
    position: sticky;
    top: 0;
  }
}

@media screen and (max-width: 726px) {
  nav ul li:nth-child(1),
  nav ul li:nth-child(2),
  nav ul li:nth-child(3) {
    display: none;
    order: 0;
  }
  nav {
    position: sticky;
    top: 0;
    z-index: 1;
  }
}

/*HERDER*/
header {
  background-color: #ffc017;
  width: 100%;
}

.fifth-scroll {
  background-color: green;
}
header > div object {
  position: relative;
}
header > div div:nth-child(2) {
  position: absolute;
  top: 85px;
  right: 0px;
}
svg {
  width: 100%;
}

@media screen and (max-width: 1113px) {
  header > div div:nth-child(2) {
    display: none;
  }
}

header > div {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}
h1 {
  font-size: 120px;
  padding: 80px 0 35px 60px;
  word-spacing: 20px;
  letter-spacing: -9px;
}
header div p {
  font-size: 28px;
  padding-left: 60px;
  line-height: 24px;
  color: #292929;
  letter-spacing: -1px;
}

button {
  color: white;
  background-color: #191919;
  border: 1px solid #191919;
  border-radius: 37px;
  margin: 50px 0 80px 60px;
  font-size: 20px;
  width: 225px;
  padding: 10px 20px 10px 20px;
  cursor: pointer;
}
/*MAIN*/

/*ARTICOLI DA 1 A 6 PARTE SUPERIORE*/

main > div {
  padding: 0 40px 0 40px;
  border-bottom: 1px solid #e6e6e6;
}

.trading {
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-left: 25px;
  font-family: "Roboto", sans-serif;
}

.trading img {
  width: 25px;
}

h3 {
  font-size: 13px;
  font-weight: bold;
  padding-left: 10px;
}

.contenitoreArticoli {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 40px;
}

.contenitoreArticoli article {
  display: flex;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Roboto", sans-serif;
  width: 350px;
}

.contenitoreArticoli article > div:nth-child(1) {
  font-size: 30px;
  font-weight: bold;
  color: #e6e6e6;
  padding-right: 10px;
  margin-right: 10px;
}

.contenitoreArticoli article > div:nth-child(2) {
  padding-top: 2px;
  cursor: pointer;
}

.contenitoreArticoli article div img {
  border-radius: 20px;
  width: 20px;
  margin-right: 6px;
  float: left;
}
.contenitoreArticoli article div div {
  display: flex;
  align-items: center;
}
.contenitoreArticoli article div div p {
  font-size: 13px;
}
.contenitoreArticoli h4 {
  font-weight: bolder;
  padding-top: 10px;
  padding-bottom: 15px;
  font-size: 17px;
}
.contenitoreArticoli h4 ~ p {
  color: grey;
  font-size: 12px;
}
/*SEZIONE ARTICOLI*/

@media screen and (max-width: 902px) {
  .containerSectionAside {
    display: flex;
    flex-direction: column;
  }
  nav {
    z-index: 1;
  }
  aside {
    order: 0;
    z-index: 0;
  }
  section {
    order: 2;
    width: 100%;
  }
}
.containerSectionAside {
  display: flex;

  padding-left: 40px;
}

section {
  margin-top: 26px;
}

.containerSectionArticle {
  display: flex;
  align-items: center;
  padding-left: 30px;
  width: 700px;
  cursor: pointer;
}
.containerSectionArticle div:first-child {
  width: 70%;
}

section article {
  display: flex;
  margin-bottom: 50px;
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
}
.divSection img {
  border-radius: 20px;
  margin-right: 6px;
  width: 30px;
}

.divSection {
  width: 70%;
  display: flex;
  align-items: center;
}
.divSection ~ div > p:nth-child(2) {
  padding-top: 2px;
}

.imgArticle {
  width: 200px;
  padding-left: 14px;
}

section article div.divSection > p {
  font-size: 13px;
}

section article h4 {
  font-weight: bold;
  font-size: 20px;
  padding-top: 10px;
}

section article div div ~ p {
  font-size: 18px;
  padding-top: 7px;
  font-size: 16px;
  padding-top: 10px;
  color: gray;
  line-height: 20px;
}

section article div div ~ div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dataStellaBookmark,
section article div div ~ div > p {
  color: gray;
  font-size: 13px;
  padding-top: 10px;
  display: flex;
  align-items: center;
}
.dataStellaBookmark div p span,
section article div div ~ div > p span {
  background-color: #e6e6e6;
  border-radius: 22px;
  padding: 5px 7px;
}

@media screen and (max-width: 587px) {
  section article div div ~ div > p span {
    display: none;
  }
}
/*ASIDE*/
aside {
  font-family: "Roboto", sans-serif;
  margin-top: 46px;
  margin-left: 70px;
}
.containerAside {
  position: sticky;
  top: 120px;
}

aside div h3 {
  font-family: "Roboto", sans-serif;

  margin-bottom: 20px;
}

aside .discover {
  display: flex;
  flex-wrap: wrap;
  color: gray;
  padding-bottom: 20px;
}

aside .discover div {
  border: 1px solid #e6e6e6;
  padding: 10px 20px;
  margin: 5px 10px 5px 0;
  font-size: 13px;
  cursor: pointer;
}

aside .links {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  border-top: 1px solid #e6e6e6;
}

aside .links a {
  font-size: 13px;
  text-decoration: none;
  color: gray;
  font-family: "Roboto", sans-serif;
}
aside .links div {
  margin: 10px 20px;
}
